body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: auto;
}
h1 {
    color: red;
}
p  {color: thistle;
font-size: large;}
button  {
    color: red;
    border: none;
    curser: pointer;
}

